<!doctype html>
<html lang="en">
<head>
    <style>
        body{
            background-color: #5eb5e0;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Meilleur Livreur</h1>
<table border="1">
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Zone</th>
        <th>Nombre de livraisons</th>

    </tr>
    <tr>

        <td>{{ livreur.nom}}</td>
        <td>{{ livreur.prenom }}</td>
        <td>{{ livreur.zone }}</td>
        <td>{{ livreur.nombreLivraison }}</td>

        <td></td>



    </tr>
</table>

<form action="{{ path('add')}}">
    <button>Ajouter Livraison</button></form>

</body>
</html>