{% extends 'front.html.twig' %}
{% block title %} hello productController {% endblock %}

{% block body %}

<h1>Liste des Produits</h1>
<table border="1">
    <tr>
        <th>codeProduit</th>
        <th>nom</th>
        <th>description</th>
        <th>quantite</th>
        <th>Prix</th>
        <th>statut</th>
        <th>Categorie</th>
        <th>Delete</th>
    </tr>
    <tr {% for a in p %}>
        <td>{{a.codeProduit}}</td>
        <td>{{a.nom}}</td>
        <td>{{a.description}}+{{a.nom}}</td>
        <td>{{a.quantite}}</td>
        <td>{{a.prix}}</td>
        <td>{{a.statut}}</td>
        <td>{{a.categorie}}</td>
        <td><a href="{{ path('D',{'id':a.codeProduit}) }}">Delete</a></td>
        <td><a href="{{ path('U',{'id':p.codeProduit}) }}">Update</a></td>
    </tr {% endfor %}>
</table>
<br>
<div style="margin-left:50px;" >
</div>
{% endblock  %}