<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset('assets1/img/apple-icon.png')}}">
    <link rel="icon" type="image/png" href="{{asset('assets1/img/favicon.png')}}">
    <title>
        Material Dashboard 2 by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="{{asset('assets1/css/nucleo-icons.css" rel="stylesheet')}}" />
    <link href="{{asset('assets1/css/nucleo-svg.css" rel="stylesheet')}}" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="{{asset('assets1/css/material-dashboard.css?v=3.0.0')}}" rel="stylesheet" />
</head>

<body class="bg-gray-200">

<main class="main-content  mt-0">



    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">

                        <div class="card-body">
                            <div class="container">
                                <div class="contact-form-action">
                                    <div class="account-title">
                                        <h2>Log in</h2>
                                        {% if app.session.flashBag.has('info1') %}
                                            <div class="alert alert-success">
                                                {% for msg in app.session.flashBag.get('info1') %}
                                                {{ msg }}

                                                {% endfor %}

                                            </div>
                                        {% endif %}
                                    </div>

                                    <form method="post">
                                        <div class="row">

                                            <div class="col-12">
                                                <div class="form-group">

                                                    {#   <label>Email</label>
                            <input class="form-control" type="text" name="mail">#}
                                                    {{ form_widget(form.mail) }}
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    {{ form_widget(form.password) }}
                                                    {#     <label>Password</label>
                            <input class="form-control" type="password" name="password">#}

                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="login-action">
									<span class="log-rem">
										<input id="remember" type="checkbox">
										<label for="remember">Remember me!</label>
									</span>

                                                    <span class="forgot-login">
										<a href="#">Forgot your password?</a>
									</span>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <button class="default-btn" type="submit">
                                                    <span>Log In</span>
                                                </button>
                                            </div>
                                            <div>
                                                <p class="mt-4 text-sm text-center">
                                                    Don't have an account?
                                                    <a href="{{ path('AjouC') }}" class="text-primary text-gradient font-weight-bold">Sign up</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer position-absolute bottom-2 py-2 w-100">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-12 col-md-6 my-auto">
                        <div class="copyright text-center text-sm text-white text-lg-start">
                            © <script>
                                document.write(new Date().getFullYear())
                            </script>,
                            made with <i class="fa fa-heart" aria-hidden="true"></i> by
                            <a href="https://www.creative-tim.com" class="font-weight-bold text-white" target="_blank">Creative Tim</a>
                            for a better web.
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link text-white" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link text-white" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/blog" class="nav-link text-white" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-white" target="_blank">License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>
<!--   Core JS Files   -->
<script src="{{asset('assets1/js/core/popper.min.js')}}"></script>
<script src="{{asset('assets1/js/core/bootstrap.min.js')}}"></script>
<script src="{{asset('assets1/js/plugins/perfect-scrollbar.min.js')}}"></script>
<script src="{{asset('assets1/js/plugins/smooth-scrollbar.min.js')}}"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{asset('assets1/js/material-dashboard.min.js?v=3.0.0')}}"></script>
</body>

</html>