{% extends 'tables.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Date</th>
            <th>Quantite</th>
            <th>Prix_total</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.userApp }}</td>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                <td>{{ commande.quantite }}</td>
                <td>{{ commande.prixTotal }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('print') }}">Convert to pdf</a>

    <a href="{{ path('commande_new') }}">Create new</a>
{% endblock %}
