<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{{asset('Front/css/bootstrap.rtl.min.css') }}">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/owl.theme.default.min.css') }}">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}">
    <!-- Boxicons Min CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/boxicons.min.css') }}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/flaticon.css') }}">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/meanmenu.min.css') }}">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/animate.min.css') }}">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/nice-select.min.css') }}">
    <!-- Date Picker CSS-->
    <link rel="stylesheet" href="{{ asset('front/css/date-picker.min.css') }}">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/magnific-popup.min.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ asset('front/images/favicon.png') }}">
    <!-- Title -->
    <title>{% block title %}Aava - Diet & Nutrition Health Center HTML Template{% endblock %}</title>
</head>

<body>
<!-- Start Preloader Area -->
<div class="preloader">
    <div class="lds-ripple">
        <span class="loader-inner-1"></span>
        <span class="loader-inner-2"></span>
        <span class="loader-inner-3"></span>
        <span class="loader-inner-4"></span>
    </div>
</div>
<!-- End Preloader Area -->

<!-- Start Header Area -->
<header class="header-area">
    <!-- Start Top Header -->
    <div class="top-header top-header-style-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-left-content">
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-phone-call"></i>
                                <a href="tel:+1-(514)-312-5678">+1 (514) 312-5678</a>
                            </li>
                        </ul>

                        <ul class="social-icon">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="bx bxl-linkedin-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-right-content">
                        <div class="language">
                            <div class="dropdown language-settings">
                                <button class="dropdown-toggle language-btn" type="button" data-bs-toggle="dropdown">
                                    Language
                                    <i class="bx bx-chevron-down"></i>
                                    <span class="bx bx-world"></span>
                                </button>

                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/english.png" alt="Flag">
                                        <span>English</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/arab.png" alt="Flag">
                                        <span>العربيّة</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/germany.png" alt="Flag">
                                        <span>Germany</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/portugues.png" alt="Flag">
                                        <span>Português</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/china.png" alt="Flag">
                                        <span>简体中文</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <ul class="my-account">
                            <li>
                                <a href="my-account.html">
                                    <i class="bx bxs-user"></i>
                                    Account
                                </a>
                            </li>
                            <li>
                                <a href="shopping-cart.html" class="basket">
                                    <i class='bx bxs-cart-alt' ></i>
                                    Basket
                                    <span>0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Top Header -->

    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-area-style-three">
        <div class="mobile-nav">
            <div class="container">
                <div class="mobile-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Home
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">Home One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">Home Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">Home Three</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Pages
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about-us.html" class="nav-link">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Portfolio
                                            <i class="bx bx-chevron-down"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="portfolio-column-two.html" class="nav-link">Portfolio Column Two</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="portfolio-column-three.html" class="nav-link">Portfolio Column Three</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="portfolio-column-four.html" class="nav-link">Portfolio Column Four</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            User
                                            <i class="bx bx-chevron-down"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="my-account.html" class="nav-link">My Account</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="log-in.html" class="nav-link">Log In</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="register.html" class="nav-link">Register</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="recover-password.html" class="nav-link">Recover Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="our-experts.html" class="nav-link">Our Experts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="partner-details.html" class="nav-link">Partner Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="appointment.html" class="nav-link">Appointment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">404 Error Page</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Services
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="services.html" class="nav-link">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="services-details.html" class="nav-link">Services Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Shop
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="products.html" class="nav-link active">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="wishlist.html" class="nav-link">Wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="shopping-cart.html" class="nav-link">Shopping cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout.html" class="nav-link">Checkout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product-details.html" class="nav-link">Product Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    News
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="news.html" class="nav-link">News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="news-details.html" class="nav-link">News Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Contact Us</a>
                            </li>
                        </ul>

                        <div class="others-option">
                            <div class="option-item">
                                <i class="search-btn bx bx-search"></i>
                                <i class="close-btn bx bx-x"></i>

                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">

                                            <button class="search-button" type="submit">
                                                <i class="bx bx-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="get-quote">
                                <a href="appointment.html" class="default-btn">
                                    Get Appointment
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="option-item">
                                <i class="search-btn bx bx-search"></i>
                                <i class="close-btn bx bx-x"></i>

                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">

                                            <button class="search-button" type="submit">
                                                <i class="bx bx-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="get-quote">
                                <a href="appointment.html" class="default-btn">
                                    Get Appointment
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>
<!-- End Header Area -->

<!-- Start Page Title Area -->

<div class="page-title-area bg-14">
    <div class="container">
        <div class="page-title-content">
            <h2>Categories</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>



                <li class="active">Categories</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Product Area -->
<section class="product-area ptb-100">
    {% block body %}
        <div class="container">
            <div class="showing-result">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6">
                        <div class="showing-result-count">
                            <p>Showing 1-8 of 14 Results</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="showing-top-bar-ordering">
                            <select>
                                <option value="1">Default Sorting</option>
                                <option value="2">Pitahaya Dragon</option>
                                <option value="0">Corn</option>
                                <option value="3">Cabbage</option>
                                <option value="4">Raspberries</option>
                                <option value="5">Blackberries</option>
                                <option value="5">Pomegranate</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-1.jpg" alt="Image">

                            <span>New</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Pitahaya Dragon</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$50.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-2.jpg" alt="Image">

                            <span>New</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Corn</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$30.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-3.jpg" alt="Image">

                            <span class="red">Sale</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Cabbage</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$20.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-4.jpg" alt="Image">

                            <span>New</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Raspberries</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$70.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-5.jpg" alt="Image">

                            <span class="red">Sale</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Blackberries</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$100.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-6.jpg" alt="Image">

                            <span>New</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Pomegranate</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$75.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-7.jpg" alt="Image">

                            <span class="red">Sale</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Cauliflower</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$20.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-8.jpg" alt="Image">

                            <span>New</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Strawberry</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$40.00</span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 offset-md-3 offset-lg-0">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="assets/images/product/product-9.jpg" alt="Image">

                            <span class="red">Sale</span>

                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bx bx-show-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="default-btn" href="shopping-cart.html">
                                        <i class="bx bx-cart"></i>
                                        Add to Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bx-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="product-details.html">
                            <h3>Bell Pepper</h3>
                        </a>

                        <ul class="rating">
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                            <li><i class="bx bxs-star"></i></li>
                        </ul>
                        <span>$30.00</span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="pagination-area">
                        <span class="page-numbers current" aria-current="page">1</span>
                        <a href="#" class="page-numbers">2</a>
                        <a href="#" class="page-numbers">3</a>

                        <a href="#" class="next page-numbers">
                            <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</section>
<!-- End Product Area -->

<!-- Start Product View One Area -->
<div class="modal fade product-view-one" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">
<i class="bx bx-x"></i>
</span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="product-view-one-image">
                        <div id="big" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="assets/images/product/product-1.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-2.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-3.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-4.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-5.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-6.jpg" alt="Image">
                            </div>
                        </div>

                        <div id="thumbs" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="assets/images/product/product-1.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-2.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-3.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-4.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-5.jpg" alt="Image">
                            </div>

                            <div class="item">
                                <img src="assets/images/product/product-6.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="product-content">
                        <h3>
                            <a href="#">Pitahaya Dragon</a>
                        </h3>

                        <div class="price">
                            <span class="new-price">$50.00</span>
                        </div>

                        <div class="product-review">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </div>
                            <a href="#" class="rating-count">4 Reviews</a>
                        </div>

                        <ul class="product-info">
                            <li>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam ad reprehenderit fuga nam, non odit necessitatibus facilis beatae temporibus</p>
                            </li>
                            <li>
                                <span>Availability:</span> <a href="#">In Stock (8 Items)</a>
                            </li>
                            <li>
                                <span>Product Type:</span> <a href="#">Fruit</a>
                            </li>
                        </ul>

                        <div class="product-color-switch">
                            <h4>Color:</h4>

                            <ul>
                                <li>
                                    <a href="#" title="Black" class="color-black"></a>
                                </li>
                                <li>
                                    <a href="#" title="White" class="color-white"></a>
                                </li>
                                <li class="active">
                                    <a href="#" title="Green" class="color-green"></a>
                                </li>
                                <li>
                                    <a href="#" title="Yellow Green" class="color-yellowgreen"></a>
                                </li>
                                <li>
                                    <a href="#" title="Teal" class="color-teal"></a>
                                </li>
                            </ul>
                        </div>

                        <div class="product-add-to-cart">
                            <div class="input-counter">
<span class="minus-btn">
<i class="bx bx-minus"></i>
</span>

                                <input type="text" value="1">

                                <span class="plus-btn">
<i class="bx bx-plus"></i>
</span>
                            </div>

                            <button type="submit" class="default-btn">
                                Add to Cart
                                <i class="flaticon-right"></i>
                            </button>
                        </div>

                        <div class="share-this-product">
                            <h3>Share This Product</h3>

                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="bx bxl-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="bx bxl-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="bx bxl-linkedin-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="bx bxl-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product View One Area -->

<!-- Start Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a href="index.html" class="logo">
                        <img src="assets/images/white-logo.png" alt="Image">
                    </a>

                    <ul class="open-close">
                        <li>
                            <span>Opening Hours:</span>
                        </li>
                        <li>
                            Monday: 8:00 AM - 8:00 PM
                        </li>
                        <li>
                            Saturday: 10:00 AM - 8:00 PM
                        </li>
                        <li>
                            Sunday: Closed
                        </li>
                    </ul>

                    <ul class="social-icon">
                        <li>
                            <span>Follow Us:</span>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>

                    <ul class="address">
                        <li class="location">
                            <i class="bx bx-location-plus"></i>
                            1424 Bridge Avenue Franklin, LA 70538
                        </li>
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:hello@aava.com">hello@aava.com</a>
                            <a href="mailto:info@aava.com">info@aava.com</a>
                        </li>
                        <li>
                            <i class="bx bx-phone"></i>
                            <a href="tel:+1-(337)-829-7799">+1 (337)-829-7799</a>
                            <a href="tel:+1-(337)-829-7788">+1 (337)-829-7788</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>

                    <ul class="import-link">
                        <li>
                            <a href="our-experts.html">Our Experts</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQs</a>
                        </li>
                        <li>
                            <a href="terms-conditions.html">Terms of Use</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Newsletter</h3>
                    <p>Sign up to get new exclusive offers from our latest news.</p>

                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">

                        <button class="default-btn" type="submit">
                            Subscribe Now
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area">
    <div class="container">
        <p>
            Copyright @2020 Aava. Designed By
            <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
        </p>
    </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->


<!-- Jquery Min JS -->
<script src="{{asset('front/js/jquery.min.js')  }}"></script>
<!-- Bootstrap Bundle Min JS -->
<script src="{{asset('front/js/bootstrap.bundle.min.js')}}"></script>
<!-- Meanmenu Min JS -->
<script src="{{ asset('front/js/meanmenu.min.js') }}"></script>
<!-- Owl Carousel Min JS -->
<script src="{{ asset('front/js/owl.carousel.min.js') }}"></script>
<!-- Wow Min JS -->
<script src="{{ asset('front/js/wow.min.js') }}"></script>
<!-- Nice Select Min JS -->
<script src="{{ asset('front/js/nice-select.min.js') }}"></script>
<!-- Magnific Popup Min JS -->
<script src="{{ asset('front/js/magnific-popup.min.js') }}"></script>
<!-- Mixitup Min JS -->
<script src="{{ asset('front/js/mixitup.min.js') }}"></script>
<!-- Datepicker Min JS -->
<script src="{{ asset('front/js/bootstrap-datepicker.min.js') }}"></script>
<!-- Form Validator Min JS -->
<script src="{{ asset('front/js/form-validator.min.js') }}"></script>
<!-- Contact JS -->
<script src="{{ asset('front/js/contact-form-script.js') }}"></script>
<!-- Ajaxchimp Min JS -->
<script src="{{ asset('front/js/ajaxchimp.min.js') }}"></script>
<!-- Custom JS -->
<script src="{{ asset('front/js/custom.js') }}"></script>
</body>
</html>

